* {
    margin: 0;
    padding:0;
}

:root {
    --primary-color: #172A3A;
    --secondary-color: #09BC8A;
    --tertiary-color: #09bcba;
    --fail: #ff9494;
    --button-color: #75DDDD;
}

body {
    background-color: var(--primary-color);
    max-height: 100vh;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 0.5;
    animation-fill-mode: forwards;
}

/* BACKGROUND IMAGE */
.back-img {
    position: absolute;
    max-height: 100vh;
    left: -150px;
    top: 0%;
    clip-path: polygon(0 0, 18% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 18% 0, 100% 100%, 0% 100%);
    opacity: 60%;
}

.kell {
    color: white;
    font-weight: lighter;
    margin-right: 2em;
}

.pg-text {
    color: var(--secondary-color);
    font-weight: lighter;
}

/* LOGO STYLING */
.logo {
    margin-top: 20px;
    max-width: 15vw;
    align-self: center;
}

.logo-hind {
    margin-top: -10px;
}

/* SLOGANS */
.slogan {
    margin-top: 180px;
    margin-bottom: 50px;
    
}

.slogan h1 {
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    font-weight: lighter !important;
}

/* PRICING STYLING */
.borsi-text {
    margin-top: 30px;
}

.borsi-text h1, h4 {
    color: #fff;
    font-weight: lighter;
}

.hind-kallim {
    color: var(--fail);
}

.hind-odavam {
    color: var(--secondary-color);
}

.hind-praegu {
    border-style: solid hidden;
}

.kell-hind {
    padding: 5px;
}

.device-text {
    display: block;
    margin-top: 30px;
}

.app-button {
    background-color: var(--button-color);
    color: #000;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 30px;
}
.app-button:hover{
    background-color: var(--tertiary-color);
    transition: 0.25s;
}

.acs-button {
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin: 1rem 1rem;
    border-radius: 50%;
    background-color: var(--button-color);
    color: var(--primary-color);
}

.back-btn {
	position: absolute;
    top: 20px;
    margin-left: 1em;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

/* AVG PRICE*/
.keskmine-hind {
    color: var(--tertiary-color);
}

/* DEVICE STYLING */
.seadmed {
    display: float;
}

.seadme-pilt {
    height: 150px;
    width: 150px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 4px 3px 8px 1px #969696;
  }
  .seadme-pilt:hover {
    
    background-color: var(--fail);
    box-shadow: inset 4px 3px 8px 1px var(--fail);
  }

.seadme-text {
    color:white;
    font-size: 30px;
}
.kulu{
    color:var(--fail);
}

.number-input{
    background-color: white;
    color: white;
}

.small-text{
font-size: medium;
margin:0;
}

/* SIZING */
.xl {
    font-size: 150%;
}

.l {
    font-size: 125%;
}

.m {
    font-size: 75%;
}

.s {
    font-size: 50%;
}
/* SIZING */

/* Feedback */
.feedback-container{
    margin: auto auto;
    padding: 1em;
    margin-top: 10%;
    width: 50%;
    text-align: center;
    color: white;
}

.feedback-header {
    text-align: center;
    color: seashell;
}

.feedback-container label{
    margin-top: 0.5em;
    float: left;
}

.feedback-container input {
    color: white;
}

.feedback-container textarea {
    height: 6em;
    color: white;
}

.mu {
    margin: 0;
    margin-top: 2em;
}

.submit-feedback {
    background-color: "#412abc";
}

.animate {
    
    animation: typing 0.5s steps(40, end);
    
    
}

/* Animations */
@keyframes typing {
    from { width: 70% }
    to { width: 100% }
  }
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

  