* {
    padding: 0;
    margin: 0;
}

.device-slot {
    border: 2px solid black;
    margin: 0.25em;
    padding: 1em;
    display: flexbox;
    flex-direction: column;
}
.device-slot a {
    cursor: pointer;
}